<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <logo>
        <a href="#" class="navbar-brand">CLOUD API</a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/pl']" [childMessage4]="1" mdbRippleRadius>PremierLeague <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/bl1']" [childMessage4]="2" mdbRippleRadius>BundesLiga</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/pd']" [childMessage4]="3" mdbRippleRadius>LaLiga</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/fl1']" [childMessage4]="4" mdbRippleRadius>Ligue1</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
            