<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" id="bar">
    <logo>
        <a href="#" class="navbar-brand">CLOUD API</a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/pl']" [childMessage4]="1" mdbRippleRadius>PremierLeague <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/bl1']" [childMessage4]="2" mdbRippleRadius>BundesLiga</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/pd']" [childMessage4]="3" mdbRippleRadius>LaLiga</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link waves-light" [routerLink]="['/competition/fl1']" [childMessage4]="4" mdbRippleRadius>Ligue1</a>
            </li>
            
        </ul>

        
    </links>
    <links >
        <form class="form-inline" id="searchBar" >
            
        <div class="input-group" id="searchDiv">
            <div mdbWavesEffect>
            <input class="form-control mr-sm-2" [(ngModel)]="searchString"  type="text" name="text"  placeholder="Search" mdbWavesEffect style="background: #3f51b5; color: #00c853; border-color: #00c853; border-width: 2px;"  >
            </div>
            <button class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" (click)="Search()" [routerLink]="['/team/search/' , searchString]" mdbWavesEffect>Search</button>
        </div>
        
        </form>
    </links>
</mdb-navbar>
            