#kaart{
    width: 48%;
    margin: .75%;
    float: left;
}

th{
    text-align: center;
    vertical-align: middle
}
td{
    text-align: center;
    vertical-align: middle
}
h2{
    font-weight: bold
}
#Head{
    text-align: center;
    vertical-align: middle;
    width: 100%
}
#time{
    font-size: .75em;
    vertical-align: middle;
}
#crest{
    height: 50px;
}