<div id="SelectorBar">
 
 
<p id="SpeelRondeTitel">Speelronde: </p>
  <select class="browser-default" [(ngModel)] = "speelronde">
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let r of speelrondes" [value]="r">{{r}}</option>
    <!-- ngFor voor alle speeldagen-->
</select>



</div>


<app-standings [childMessage]="speelronde" [childMessage1]="competitie" [childMessage2]="shortcomp"></app-standings>
<app-fixtures [childMessage]="speelronde" [childMessage1]="competitie" [childMessage2]="shortcomp"></app-fixtures>