#buttonRow{
    text-align: center;
    vertical-align: middle;
    
}

#GameKaart{
    width: 20em;
    margin: 2em;
    float: left;
}
#gameCover{
    max-width: 100%;
}
#imageContainer{
    text-align: center;
    margin:0.5em;
}
#kaart{
    margin: 1em;
    width: 80em;
    float: left;
    padding-top: 0em;
}
#OpperDiv{
    float: left;
    width: 80em;
    margin: 1em;
}
#tooltipImage{
    max-width: 13em;
}
#IDRow{
    width: 82.1167px;
}
#NameRow{
    width: 488.35px;
}
#CategoryRow{
    width: 328.43px;
}
#PriceRow{
    width: 250.217px;
}
#editRow{
    width: 57.633px;
}
