
<div class="card" id="kaart">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr mdbTooltip>
                    <th id="row">ID</th>
                    <th id="row">Name</th>
                    <th id="row">Category</th>
                    <th id="row">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let g of games" mdbTooltip>
                    <td id="position">{{g.id}}</td>
                    <td id="row">{{g.title}}</td>
                    <td id="row">{{g.category}}</td>
                    <td id="row">{{g.price}}</td>
                </tr>
                <tr>
                    <td colspan="4" id="buttonRow">
                        <button type="button" class="btn btn-primary waves-light" (click)="KnopClick('Game')" mdbRippleRadius>Add new game</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div class="card" *ngIf="game" id="GameKaart">

    <!--Card image-->
    <div id="imageContainer">
        <img class="img-fluid" src="{{newCover}}" *ngIf="newCover" id="gameCover">
    </div>

    <!--Card content-->
    <form>
        <div class="card-body">
            <!--Title-->
            <div style="text-align: center">
                <h4 class="card-title">New Game</h4>
            </div>
            <!--Text-->
            <div class="md-form ">
                <input type="text" name="text" [(ngModel)]="newTitle" id="form2" class="form-control" placeholder="Title">
            </div>

            <div class="md-form">
                <input placeholder="Category" type="text" name="text" [(ngModel)]="newCategory" id="form1" class="form-control">
            </div>

            <div class="md-form">
                <i class="fa fa-euro prefix" style="margin:auto"></i>
                <input placeholder="Price" type="number" name="text" [(ngModel)]="newPrice" id="form2" class="form-control">
            </div>

            <div class="md-form">
                <input placeholder="Cover image URL" type="text" name="text" [(ngModel)]="newCover" id="form1" class="form-control">
            </div>

            <div class="md-form">
            <select class="browser-default" [(ngModel)] = "studioselection" name="StudioSelect" >
                <option value="" disabled selected >Choose your option</option>
                <option *ngFor="let s of studios" [value]="s.id">{{s.name}}</option>
            </select>
        </div>

            <div style="text-align: center">
                <button type="button" class="btn btn-primary waves-light" (click)="addGame()" mdbWavesEffect>Add</button>
            </div>
        </div>
    </form>

</div>

<div class="card" id="kaart" *ngIf="showStudio">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr mdbTooltip>
                    <th id="row">ID</th>
                    <th id="row">Name</th>
                    <th id="row">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of studios" mdbTooltip>
                    <td id="position">{{s.id}}</td>
                    <td id="row">{{s.name}}</td>
                    <td id="row">{{s.location}}</td>
                </tr>
                <tr>
                    <td colspan="4" id="buttonRow">
                        <button type="button" class="btn btn-primary waves-light" (click)="KnopClick('Studio')" mdbRippleRadius>Add new Studio</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="card" *ngIf="studio" id="GameKaart">

    <!--Card image-->
    <div id="imageContainer">
        <img class="img-fluid" src="{{newCover}}" *ngIf="newCover" id="gameCover">
    </div>

    <!--Card content-->
    <form>
        <div class="card-body">
            <!--Title-->
            <div style="text-align: center">
                <h4 class="card-title">New Studio</h4>
            </div>
            <!--Text-->
            <div class="md-form ">
                <input type="text" name="text" [(ngModel)]="newName" id="form2" class="form-control" placeholder="Name">
            </div>

            <div class="md-form">
                <input placeholder="Location" type="text" name="text" [(ngModel)]="newLocation" id="form1" class="form-control">
            </div>

            <div class="md-form">
                <input placeholder="Site" type="text" name="text" [(ngModel)]="newSite" id="form2" class="form-control">
            </div>

            
            
        


            <div style="text-align: center">
                <button type="button" class="btn btn-primary waves-light" (click)="addStudio()" mdbWavesEffect>Add</button>
            </div>
        </div>
    </form>

</div>