<br>
<div id= "opperBox">
<div id="Box">
<!--<div class="card" id="Kaart">

  
  <div class="view hm-white-slight waves-light" mdbRippleRadius>
      <img src="assets/PremierLeague.jpg" class="img-fluid" >
      <a>
          <div  [routerLink]="['/game']" class="mask"></div>
      </a>
  </div>

  
</div>-->



<div class="view overlay" id= "Kaart">
  <img src="assets/PremierLeague.jpg" class="img-fluid " alt="">
   <div class="mask rgba-black-light">
    <a>
      <div  [routerLink]="['/competition/epl']" class="mask"></div>
    </a>
  </div>
</div>

<div class="view overlay" id= "Kaart">
  <img src="assets/BundesLiga.png" class="img-fluid " alt="">
   <div class="mask rgba-black-light">
    <a>
      <div  [routerLink]="['/competition/bundes']" class="mask"></div>
    </a>
  </div>
</div>

<div class="view overlay" id= "Kaart">
  <img src="assets/LaLiga.png" class="img-fluid " alt="">
   <div class="mask rgba-black-light">
    <a>
      <div  [routerLink]="['/competition/laliga']" class="mask"></div>
    </a>
  </div>
</div>

<div class="view overlay" id= "Kaart">
  <img src="assets/Ligue1.png" class="img-fluid " alt="">
   <div class="mask rgba-black-light">
    <a>
      <div  [routerLink]="['/competition/ligue1']" class="mask"></div>
    </a>
  </div>
</div>
  

</div>     
</div>      
